.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:#2475B0;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
    transition: opacity, 0.2s;
}

.project {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 10px;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-color: #ddd;
    border-style: solid;
}

.projectImage {
    height: 100%;
    width: 100%;
}
